footer{
  width: 900px;
  background: white;
  margin: auto;
  display: block;
  border-left: thin solid #ccc;
  border-right: thin solid #ccc;
  border-bottom: thin solid #ccc;
  border-radius: 0 0 10px 10px;

}

footer ul{
  float:right;
  margin-right: 15px;
}

footer li{
  float:left;
  padding: 20px 10px 20px 10px;
  font-size: 14px;
  display: inline-block;
  color: #aaa;
}

footer li:hover {
  color: black;
}

footer p{
  float:left;
  font-size: 14px;
  display: inline-block;
  padding: 20px 10px 20px 10px;
  color: #aaa;
  margin-left: 15px;
}
